- @navigator = link_to(@game.name, game_path(@game)) + ' &raquo; ' +  h(params[:channel])

%center
  #game_flash
    - s = _('Please install %{getflashplayer}') % {:getflashplayer => link_to(_('Flash player 9 or above'), 'http://www.adobe.com/go/getflashplayer')}
    %p{:class => 'notice'}= s

%script{:type => 'text/javascript'}
  == var so = new SWFObject('#{game_container_without_versions_path(:id => @game.id, :channel => params[:channel], :locale => GetText.locale.to_s)}', 'game_flash', '#{CONFIG[:swf_width]}', '#{CONFIG[:swf_height]}', '9', '#FFFFFF');
  so.useExpressInstall('/javascripts/expressinstall.swf');
  so.addParam('allowFullScreen', 'true');
  so.addVariable('allowFullScreen', 'true');
  so.write('game_flash');
