%h1 Privacy Policy

%p
  We collect the e-mail addresses of those who communicate with us via e-mail,
  aggregate information on what pages consumers access or visit, and information
  volunteered by the consumer (such as survey information and/or site
  registrations). The information we collect is used to improve the content of
  our Web pages and the quality of our service, and is not shared with or sold
  to other organizations for commercial purposes.

%h2 DISCLOSURE

%p
  Web20Games may disclose personally identifiable information under special
  circumstances, such as to comply with subpoenas or when your actions violate
  the Terms of Service.

%h2 CHANGES

%p
  Web20Games may periodically update this policy. We will notify you about
  significant changes in the way we treat personal information by placing a
  prominent notice on our site.
