<% unless flash[:notice].nil? %><p class="notice"><%= flash[:notice] %></p><% end %>

<h2><%= _('Game container') %></h2>
<p><%= link_to _('Update container'), edit_admin_game_container_path %></p>

<h2><%= _('Games') %></h2>
<p><%= link_to _('Upload new game'), new_admin_game_path %></p>

<% unless @games.blank? %>
  <% @games.each do |g| %>
<p><%= link_to h(g.name), edit_admin_game_path(g) %></p>
  <% end %>
<% end %>