%h1 Terms of Service

%p
  Web20Games reserves the right to update and change the Terms of Service from
  time to time without notice. Any new features that augment or enhance the
  current Service, including the release of new tools and resources, shall be
  subject to the Terms of Service. Continued use of the Service after any such
  changes shall constitute your consent to such changes.